<!doctype html>
<html>
    <head>
        <title>NewsBits</title>
    </head>
    <body>
        <h1>Bite Sized News!</h1>
        <h2>Pick a source, and we'll generate tweet-sized summaries for the latest articles from the source</h2>
        
        <form action="#" method="post"  >
            <label for="sources">Choose a source</label>
            <select name="sources" id="sources">
              <option value="CBC">CBC</option>
              <option value="BBC">BBC</option>
              <option value="CNN">CNN</option>
              <option value="Reuters">Reuters</option>
              <option value="Associated Press">Associated Press</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
          </form>
          <break></break>
          <p><i>UI and Frontend coming soon! Keep up with updates on Bite Sized News on my website <a href="https://sohailsayed.ca/">sohailsayed.ca</a></i></p>
    </body>
</html>