<!doctype html>
<html>
    <head>
        <title>Bite Sized News</title>
    </head>
    <body>
        <h1>Bite Sized News!</h1>
        
        <form action="#" method="post"  >
            <label for="sources">Choose a source</label>
            <select name="sources" id="sources">
              <option value="CBC">CBC</option>
              <option value="BBC">BBC</option>
              <option value="CNN">CNN</option>
              <option value="Reuters">Reuters</option>
              <option value="Associated Press">Associated Press</option>
            </select>
            <br><br>
            <input type="submit" value="Submit">
          </form>
    </body>
</html>